<!-- <div class="container px-5 py-24 mx-auto">
  <div class="flex items-center space-x-2 mb-4">
    <input type="text" placeholder="Buscar colecciones..." [formControl]="searchControl" #input
      class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-100 dark:placeholder-gray-600 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none" />
  </div> -->
<div class="animate-slide-in">
  <div class="p-4 sm:ml-64">
    <div class=" w-full mx-auto p-5 rounded-lg shadow-md  bg-white mt-1 bg-white">
      <div class="w-full flex items-baseline">
        <div
          class="me-4 mt-5 text-4xl font-bold leading-none tracking-tight text-gray-700 md:text-4xl lg:text-5xl sm:3xl no-select ">
          Colecciones
        </div>
      </div>
    </div>

    <div class=" w-full mx-auto rounded-lg   bg-white mt-3">
      <div class="flex">
        <div class="relative w-full">
          <input type="text" placeholder="Buscar colecciones..." [formControl]="searchControl" #input
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-100 dark:placeholder-gray-600 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none" />

          <mat-icon *ngIf="input.value" (click)="clearInput(input)"
            class="absolute end-4 top-1/2 -translate-y-1/2 cursor-pointer text-gray-300">
            close
          </mat-icon>
        </div>
      </div>
    </div>

    <div *ngIf="loading; else content" class="flex flex-wrap justify-around mt-4">
      <div *ngFor="let _ of skeletonArray" class="flex flex-col m-8 rounded shadow-md w-60 sm:w-80 animate-pulse h-96">
        <div class="h-48 rounded-t dark:bg-gray-300"></div>
        <div class="flex-1 px-4 py-8 space-y-4 sm:p-8 dark:bg-gray-50">
          <div class="w-full h-6 rounded dark:bg-gray-300"></div>
          <div class="w-full h-6 rounded dark:bg-gray-300"></div>
          <div class="w-3/4 h-6 rounded dark:bg-gray-300"></div>

        </div>
      </div>
    </div>


    <ng-template #content>
      <br>

      <div
        class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 mt-5 uppercase mt-12">
        <div *ngFor="let coleccion of productosPagina">
          <div
            class="relative flex flex-row items-center justify-evenly  rounded-xl bg-white bg-clip-border text-gray-700 shadow-2xl p-2">
            <div
              class="relative m-0 w-2/5 max-h-40 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
              <img [src]="coleccion.imagen" alt="image" class="h-full w-full object-cover object-top"
                onerror="this.onerror=null;this.src='../../../assets/not-image.webp';this.classList.add('not-image');" />
            </div>
            <div class="p-6">
              <div
                class="mb-4 block font-sans text-base font-semibold uppercase leading-relaxed tracking-normal text-blue-500 antialiased ">
                {{coleccion.categoria}}
              </div>
              <div
                class="mb-2 h-14 block font-sans text-base font-bold leading-snug tracking-normal text-blue-gray-900 antialiased ">
                {{coleccion.nombre}}
              </div>
              <p class="mb-8 block font-sans text-base font-normal leading-relaxed text-gray-700 antialiased">
                <span class="flex items-center me-2">STOCK
                  <span
                    class="flex items-center justify-center h-7 w-7 rounded-full bg-blue-900 text-white text-xs font-bold text-white font-bold uppercase ms-1 cursor-pointer   "
                    [ngClass]="{
                                    'bg-red-500 ': coleccion.totalCantidad === 0,
                                'bg-red-600': coleccion.totalCantidad > 0 && coleccion.totalCantidad <= stockThreshold
                                  }">{{
                    coleccion.totalCantidad
                    }}</span></span>
              </p>

              <button (click)="explorarColeccion(coleccion.productos, coleccion.nombre)"
                class="flex mt-5 select-none items-center gap-2 rounded-lg py-1.5 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white bg-blue-400 hover:bg-blue-500 active:bg-blue-600  outline-none "
                type="button">

                Explorar

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                  stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3">
                  </path>
                </svg>
              </button>
            </div>
          </div>

        </div>
        <br><br><br><br><br>
      </div>
      <mat-paginator [length]="productosAgrupadosFiltrados.length" [pageSize]="pageSize" [pageSizeOptions]="[10, 20]"
        (page)="onPageChange($event)" showFirstLastButtons>
      </mat-paginator>
    </ng-template>
  </div>
</div>
