<h2 mat-dialog-title class="text-center">Editar usuario</h2>
<mat-dialog-content>
  <div class="container mx-auto my-42">
    <form class="max-w-sm mx-auto" [formGroup]="editUserForm" (ngSubmit)="onSave()">
      <div class="mb-5">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Nombre</label>
        <input formControlName="name" type="name" id="name" [class.is-invalid]="nameInvalid"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 outline-none block w-full p-2.5"
          placeholder="Nombre" required />
        <small *ngIf="nameInvalid" class="text-red-400">El nombre no debe tener más de 9 caracteres de longitud.</small>
      </div>

      <div class="flex items-start mb-5">
        <fieldset>
          <h6 class="text-gray-600">Tipo de usuario</h6>
          <div class="flex items-center mb-4">
            <input id="user-option-1" type="radio" name="role" value="vendedor" formControlName="role"
              class="w-4 h-4 border-gray-300 focus:outline-none dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
              checked>
            <label for="user-option-1" class="block ms-2  text-sm font-medium text-gray-900 ">
              Vendedor
            </label>
          </div>
          <div class="flex items-center mb-4">
            <input id="user-option-2" type="radio" name="role" value="admin" formControlName="role"
              class="w-4 h-4 border-gray-300 focus:outline-none  dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
            <label for="user-option-2" class="block ms-2 text-sm font-medium text-gray-900 ">
              Administrador
            </label>
          </div>
        </fieldset>
      </div>

      <h6 class="text-gray-600">Color</h6>
      <div class="flex items-start justify-center sm:justify-start mb-5">
        <fieldset class="flex ">

          <div class="flex flex-col items-center mb-4 ">
            <input id="color-1" type="radio" name="color" value="azul" formControlName="color"
              class="custom-radio w-4 h-4 sm:w-6 sm:h-6 bg-blue-500 focus:outline focus:outline-2 focus:outline-blue-500 focus:outline-offset-2 cursor-pointer rounded-md appearance-none border-2 border-transparent transition-colors duration-200"
              checked>
          </div>

          <div class="flex flex-col items-center mb-4 ms-3">
            <input id="color-2" type="radio" name="color" value="rojo" formControlName="color"
              class="custom-radio w-4 h-4 sm:w-6 sm:h-6 bg-red-500 focus:outline focus:outline-2 focus:outline-red-500 focus:outline-offset-2 cursor-pointer rounded-md appearance-none border-2 border-transparent transition-colors duration-200">
          </div>

          <div class="flex flex-col items-center mb-4 ms-3">
            <input id="color-3" type="radio" name="color" value="amarillo" formControlName="color"
              class="custom-radio w-4 h-4 sm:w-6 sm:h-6 bg-yellow-300 focus:outline focus:outline-2 focus:outline-yellow-300 focus:outline-offset-2 cursor-pointer rounded-md appearance-none border-2 border-transparent transition-colors duration-200">
          </div>

          <div class="flex flex-col items-center mb-4 ms-3">
            <input id="color-4" type="radio" name="color" value="verde" formControlName="color"
              class="custom-radio w-4 h-4 sm:w-6 sm:h-6 bg-green-500 focus:outline focus:outline-2 focus:outline-green-500 focus:outline-offset-2 cursor-pointer rounded-md appearance-none border-2 border-transparent transition-colors duration-200">
          </div>

          <div class="flex flex-col items-center mb-4 ms-3">
            <input id="color-4" type="radio" name="color" value="naranja" formControlName="color"
              class="custom-radio w-4 h-4 sm:w-6 sm:h-6 bg-orange-500 focus:outline focus:outline-2 focus:outline-orange-500 focus:outline-offset-2 cursor-pointer rounded-md appearance-none border-2 border-transparent transition-colors duration-200">
          </div>

          <div class="flex flex-col items-center mb-4 ms-3">
            <input id="color-4" type="radio" name="color" value="purple" formControlName="color"
              class="custom-radio w-4 h-4 sm:w-6 sm:h-6 bg-purple-500 focus:outline focus:outline-2 focus:outline-purple-500 focus:outline-offset-2 cursor-pointer rounded-md appearance-none border-2 border-transparent transition-colors duration-200">
          </div>

          <div class="flex flex-col items-center mb-4 ms-3">
            <input id="color-4" type="radio" name="color" value="pink" formControlName="color"
              class="custom-radio w-4 h-4 sm:w-6 sm:h-6 bg-pink-500 focus:outline focus:outline-2 focus:outline-pink-500 focus:outline-offset-2 cursor-pointer rounded-md appearance-none border-2 border-transparent transition-colors duration-200">
          </div>

          <div class="flex flex-col items-center mb-4 ms-3">
            <input id="color-4" type="radio" name="color" value="teal" formControlName="color"
              class="custom-radio w-4 h-4 sm:w-6 sm:h-6 bg-teal-500 focus:outline focus:outline-2 focus:outline-teal-500 focus:outline-offset-2 cursor-pointer rounded-md appearance-none border-2 border-transparent transition-colors duration-200">
          </div>
        </fieldset>
      </div>
      <mat-dialog-actions align="end">

        <button mat-stroked-button color="warn" mat-dialog-close>Cancelar</button>

        <button mat-stroked-button color="primary" type="submit" class="btn btn-primary"
          [disabled]="editUserForm.invalid">Aplicar</button>
      </mat-dialog-actions>
    </form>
  </div>
</mat-dialog-content>
