<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button -->
        <button type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          [attr.aria-controls]="'mobile-menu'" [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'"
          (click)="toggleMenu()">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed -->
          <svg *ngIf="!isMenuOpen" class="block h-6 w-6 focus:outline-none" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>

          <!-- Icon when menu is open -->
          <i *ngIf="isMenuOpen" class="fa-solid fa-xmark focus:outline-none"></i>
        </button>

      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <app-profile></app-profile>
          <!-- <img class="h-8 w-auto" src="../../../assets/logo.png" alt="Your Company"> -->
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4 mt-1">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <span routerLink="/home" routerLinkActive="active"
              class="rounded-md  px-3 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700 hover:text-white cursor-pointer"
              aria-current="page">Inicio</span>

            <span (click)="toggleProductsMenu($event)"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700 hover:text-white cursor-pointer"
              aria-current="page">Productos
              <span *ngIf="isProductsMenuOpen"
                class="absolute ms-4 mt-2 w-48 bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none z-50">
                <ul class="py-1">
                  <li>
                    <a routerLink="/collections"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Colecciones</a>
                    <!-- <a routerLink="/products" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Mis
                      Productos</a> -->
                    <a routerLink="/providers"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Proveedores</a>
                  </li>
                </ul>
              </span></span>
            <span routerLink="/cart" routerLinkActive="active"
              class="relative rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700 hover:text-white cursor-pointer">
              Carrito
              <span *ngIf="totalProductosEnCarrito > 0"
                class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 flex items-center justify-center h-5 w-5 rounded-full bg-green-700 text-white text-xs font-bold">
                {{ totalProductosEnCarrito }}
              </span>
            </span>
            <span routerLink="/low-stock" routerLinkActive="active"
              class="relative rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700 hover:text-white cursor-pointer">
              Stock
              <span *ngIf="cantidadProductosBajoStock > 0"
                class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 flex items-center justify-center h-5 w-5 rounded-full bg-red-900 text-white text-xs font-bold">
                {{ cantidadProductosBajoStock }}
              </span>
            </span>
            <span routerLink="/sales" routerLinkActive="active"
              class="rounded-md  px-3 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700 hover:text-white cursor-pointer"
              aria-current="page">Ventas</span>
            <span (click)="toggleConfigMenu($event)"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700 hover:text-white cursor-pointer"
              aria-current="page">Opciones
              <span *ngIf="isConfigMenuOpen"
                class="absolute ms-4 mt-2 w-48 bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none z-50">
                <ul class="py-1">
                  <li>
                    <a routerLink="/users" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Gestión
                      de Usuarios</a>

                  </li>

                </ul>
              </span></span>
            <!-- <span
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700 hover:text-white cursor-pointer">Informes</span> -->
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button mat-raised-button color="warn" (click)="openLogoutDialog()"
          class=" logout float-end mx-2 fw-bold">Salir</button>
      </div>

    </div>

  </div>

  <!-- Mobile menu -->
  <div class="sm:hidden" [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}" id="mobile-menu">

    <div class="space-y-1 px-2 pb-3 pt-2 ">

      <span href="#"
        class="block rounded-md  px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
        aria-current="page" routerLink="/home" routerLinkActive="active">Inicio</span>
      <br>
      <span (click)="toggleProductsMenu($event)"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700 hover:text-white cursor-pointer"
        aria-current="page">Productos
        <span *ngIf="isProductsMenuOpen"
          class="absolute ms-4 mt-2 w-48 bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none z-50">
          <ul class="py-1">
            <li>
              <a routerLink="/collections"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Colecciones</a>
              <!-- <a routerLink="/products" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Mis
                Productos</a> -->
              <a routerLink="/providers" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Proveedores</a>
            </li>
          </ul>
        </span>
      </span>

      <br>
      <br>
      <div class="flex ">
        <span routerLink="/cart" routerLinkActive="active"
          class="relative rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700 hover:text-white cursor-pointer">
          Carrito
        </span>
        <span *ngIf="totalProductosEnCarrito > 0"
          class="flex items-center justify-center h-5 w-5 rounded-full bg-green-700 text-white font-bold">
          {{ totalProductosEnCarrito }}
        </span>
      </div>

      <div class="flex ">
        <span routerLink="/low-stock" routerLinkActive="active"
          class="relative rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700 hover:text-white cursor-pointer">
          Stock
        </span>
        <span *ngIf="cantidadProductosBajoStock > 0"
          class="flex items-center justify-center h-5 w-5 rounded-full bg-red-900 text-white font-bold">
          {{ cantidadProductosBajoStock }}
        </span>
      </div>
      <span href="#"
        class="block rounded-md  px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
        aria-current="page" routerLink="/sales" routerLinkActive="active">Ventas</span>
      <br>
      <span (click)="toggleConfigMenu($event)"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700 hover:text-white cursor-pointer"
        aria-current="page">Opciones
        <span *ngIf="isConfigMenuOpen"
          class="absolute ms-4 mt-2 w-48 bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none z-50">
          <ul class="py-1">
            <li>
              <a routerLink="/users" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Gestión de
                Usuarios</a>
            </li>
          </ul>
        </span></span>

    </div>
  </div>
</nav>