<div class="animate-slide-in">
  <div class="p-4 sm:ml-64">
    <div class="w-full mx-auto p-5 rounded-lg shadow-md  bg-white mt-1 bg-white ">
      <div class="w-full flex items-baseline">
        <div
          class="me-4 mt-5 text-4xl font-bold leading-none tracking-tight text-gray-700 md:text-4xl lg:text-5xl sm:3xl no-select ">
          Proveedores
        </div>
      </div>

    </div>

    <!-- <div class="container mx-auto">
      <button mat-raised-button color="primary" (click)="openDialog()" *ngIf="isAdmin">
        Crear Proveedor
      </button> -->
    <div class="w-full mx-auto p-5 rounded-lg shadow-md  bg-white mt-1 bg-white ">
      <div class="relative overflow-x-auto shadow-md rounded-lg mt-5">
        <table class="w-full text-sm text-center text-gray-500 bg-slate-800 table-auto">
          <thead class="text-xs text-white uppercase bg-gray-700  ">
            <tr>
              <th scope="col" class="px-6 py-3">
                Nombre
              </th>
              <th scope="col" class="px-6 py-3">
                Contacto
              </th>
              <th scope="col" class="px-6 py-3" *ngIf="isAdmin">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd:bg-white even:bg-gray-50 even:dark:bg-gray-100 text-gray-900 border-b uppercase"
              *ngFor="let provider of providers">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                {{ provider.nombre }}
              </td>
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                {{ provider.contacto }}
              </td>
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap " *ngIf="isAdmin">
                <button matTooltip="Editar" mat-icon-button class="primary" (click)="openDialog(provider)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button matTooltip="Eliminar Proveedor" mat-icon-button class="warn"
                  (click)="openDeleteDialog(provider)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br><br><br>
  </div>
</div>
