<section class="text-gray-600 body-font">

  <!-- Campo de búsqueda y botón -->
  <!-- <button
      class="text-white end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800  font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-500 dark:hover:bg-blue-600  mb-3"
      (click)="openDialog()" *ngIf="isAdmin">
      Crear Producto
    </button> -->
  <div class="container flex items-center space-x-2 ">
    <div class="relative w-full">
      <input type="text" placeholder="Buscar productos..." [formControl]="searchControl"
        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-100 dark:placeholder-gray-600 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none"
        #input />
      <mat-icon *ngIf="input.value" class="absolute end-4 top-1/2 -translate-y-1/2 cursor-pointer text-gray-300"
        (click)="clearInput(input)">
        close
      </mat-icon>
    </div>
    <button mat-icon-button matSuffix (click)="openBarcodeScanner()" matTooltip="Escanear desde cámara">
      <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#999999">
        <path
          d="M48-144v-192h72v120h120v72H48Zm672 0v-72h120v-120h72v192H720ZM168-264v-432h72v432h-72Zm120 0v-432h48v432h-48Zm120 0v-432h72v432h-72Zm120 0v-432h96v432h-96Zm132 0v-432h48v432h-48Zm84 0v-432h48v432h-48ZM48-624v-192h192v72H120v120H48Zm792 0v-120H720v-72h192v192h-72Z" />
      </svg></button>
  </div>


  <!-- Skeleton Loader -->
  <div *ngIf="loading" class="flex flex-wrap">
    <div *ngFor="let _ of skeletonArray" class="flex flex-col m-8 rounded shadow-md w-60 sm:w-80 animate-pulse h-96">
      <div class="h-48 rounded-t dark:bg-gray-300"></div>
      <div class="flex-1 px-4 py-8 space-y-4 sm:p-8 dark:bg-gray-50">
        <div class="w-full h-6 rounded dark:bg-gray-300"></div>
        <div class="w-full h-6 rounded dark:bg-gray-300"></div>
        <div class="w-3/4 h-6 rounded dark:bg-gray-300"></div>
      </div>
    </div>
  </div>
  <div *ngIf="filteredProducts.length === 0">
    No hay datos que coincidan con el filtro:"{{input.value}}"
  </div>
  <!-- Products Display -->
  <div *ngIf="!loading" class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-5 ">
    <div *ngFor="let product of filteredProducts"
      class="max-w-sm rounded overflow-hidden shadow-lg shadow-2xl bg-white mb-3">
      <img class="w-full h-48 object-cover not-image border-b" [src]="product.imagen" alt="Imagen de producto"
        width="35px" height="35px"
        onerror="this.onerror=null;this.src='../../../assets/not-image.webp';this.classList.add('not-image');">
      <div class="px-6 py-4">
        <div class="font-bold text-xl uppercase cursor-pointer flex justify-between">
          <span class="mt-2 ">{{ product.nombre }}</span>
          <button mat-icon-button [matMenuTriggerFor]="info"><mat-icon class="text-green-500">info</mat-icon></button>
        </div>
        <mat-menu #info="matMenu">
          <ul class="m-3">
            <code class="flex items-center text-sm text-gray-900 cursor-pointer me-3 font-medium mb-2 "><span
                      class="flex w-2.5 h-2.5 bg-blue-600 rounded-full me-1.5 flex-shrink-0"
                      matTooltip="Categoria"></span>{{product.categoria}}</code>
            <code class="flex items-center text-sm  font-medium mb-2  text-gray-900 cursor-pointer me-3 "><span
                      class="flex w-2.5 h-2.5 bg-violet-500 rounded-full me-1.5 flex-shrink-0"
                      matTooltip="Proveedor"></span>{{ product.proveedor }}</code>
            <code class="flex items-center text-sm  font-medium mb-2  text-gray-900 cursor-pointer me-3 "><span
                      class="flex w-2.5 h-2.5 bg-indigo-500 rounded-full me-1.5 flex-shrink-0"
                      matTooltip="Sku"></span>{{ product.sku }}</code>
          </ul>
        </mat-menu>
        <div class="font-bold text-md mb-2 uppercase cursor-pointer">{{ product.modelo }}</div>
        <span class="flex items-center me-2 uppercase">Stock:
          <span matTooltip="Cantidad"
            class="flex items-center justify-center h-7 w-7 rounded-full bg-blue-900 text-white text-xs font-bold text-white font-bold uppercase ms-1 cursor-pointer"
            [ngClass]="{
                  'bg-red-500 ': product.cantidad === 0,
                  'bg-orange-600 ': product.cantidad > 0 && product.cantidad <= 5
                }">
            {{ product.cantidad }}
          </span>
        </span>
        <code
          class="flex items-center text-sm  font-medium mb-2  text-gray-900 cursor-pointer me-3 mt-5 "><mat-icon matTooltip="Color">chevron_right</mat-icon>{{ product.color }}</code>
        <code
          class="flex items-center text-sm  font-medium mb-2  text-gray-900 cursor-pointer me-3"><mat-icon matTooltip="Talle">chevron_right</mat-icon>{{ product.talle }}</code>
      </div>

      <div class="flex items-center justify-between">
        <div class="px-6 pb-2">
          <span class="flex items-center text-md mb-2 text-gray-900 cursor-pointer me-3 uppercase " matTooltip="Precio">
            <span class="flex w-2.5 h-2.5 bg-green-500 rounded-full me-1.5 flex-shrink-0 "></span>
            {{ product.precio | currency:'$':'symbol':'1.0' }}
          </span>
        </div>
        <div class="text-end px-6 pb-4">
          <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isAdmin">
            <mat-icon class="text-gray-800">menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button matTooltip="Agregar stock" mat-icon-button (click)="agregarStock(product)">
              <mat-icon class="text-gray-800 text-lg ">add_circle</mat-icon>
            </button>
            <button matTooltip="Restar stock" mat-icon-button (click)="restarStock(product)">
              <mat-icon class="text-gray-800 text-lg ">remove_circle</mat-icon>
            </button>
            <button matTooltip="Editar" mat-icon-button color="primary" (click)="openDialog(product)" *ngIf="isAdmin">
              <mat-icon class="text-gray-800 text-lg ">edit</mat-icon>
            </button>
            <button matTooltip="Eliminar" mat-icon-button color="warn" (click)="openDeleteDialog(product)"
              *ngIf="isAdmin">
              <mat-icon class="text-gray-800 text-lg ">delete</mat-icon>
            </button>

          </mat-menu>
          <button matTooltip="Agregar al carrito" mat-icon-button (click)="moveProductToCart(product)">
            <mat-icon class="text-gray-800 text-md ">shopping_cart</mat-icon>
          </button>
        </div>

      </div>

    </div>
  </div>

</section>
