<h2 mat-dialog-title class="text-center">{{titulo}}</h2>

<mat-dialog-content>
  <small *ngIf="submitted && formProvider.invalid" class="text-red-600">Faltan campos obligatorios por completar ( *
    )</small>

  <form [formGroup]="formProvider">
    <div class="relative mb-4">
      <label for="nombre" class="leading-7 text-sm text-gray-600">Nombre</label><span class="text-red-600"> *</span>
      <input type="text" id="nombre" name="nombre"
        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        formControlName="nombre">
    </div>

    <div class="relative mb-4">
      <label for="contacto" class="leading-7 text-sm text-gray-600">Contacto</label><span class="text-red-600"> *</span>
      <input type="text" id="contacto" name="contacto"
        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        formControlName="contacto">
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div *ngIf="loading" class="loading me-5">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
  <button mat-stroked-button color="warn" mat-dialog-close>Cancelar</button>
  <button mat-stroked-button color="primary" type="submit" (click)="agregarEditarProveedor()">Aplicar</button>
</mat-dialog-actions>
