<br><br><br>
<form class="max-w-sm mx-auto mt-5" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <div class="mb-5">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
    <input formControlName="email" type="email" id="email"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 outline-none block w-full p-2.5"
      placeholder="email@ejemplo.com" required />
  </div>
  <button mat-raised-button color="primary" type="submit" class="btn btn-primary"
    [disabled]="resetPasswordForm.invalid">Enviar</button>
</form>
<div class="text-center">
  <mat-icon class="mt-3" *ngIf="status" style="color: green;">check</mat-icon>
  <div class="mt-3">{{message}}</div>
</div>
